<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Let's Collect{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% endblock %}
</head>
<script src="{{ asset('js/collection.js') }}"></script>
<body>
<nav class="navbar">
    <a href="{{ path('app_accueil') }}" class="logo">Let's<span>Collect</span></a>
    <div class="nav-links">
        <a href="{{ path('app_recherche') }}"
           class="{{ app.request.attributes.get('_route') == 'app_recherche' ? 'active' : '' }}">
            Recherche de cartes
        </a>
        {% if app.user %}
            <a href="{{ path('app_collection') }}"
                class="{{ app.request.attributes.get('_route') == 'app_collection' ? 'active' : '' }}">
                 Ma collection
            </a>
            <a href="{{ path('app_wishlist') }}"
                class="{{ app.request.attributes.get('_route') == 'app_wishlist' ? 'active' : '' }}">
                 Ma wishlist
            </a>
            <a href="{{ path('app_echange') }}"
               class="{{ app.request.attributes.get('_route') == 'app_echange' ? 'active' : '' }}">
                Échanges
            </a>
            <a href="{{ path('app_logout') }}" class="btn-outline">
                Déconnexion ({{ app.user.pseudo }})
            </a>
        {% else %}
            <a href="{{ path('app_login') }}" class="btn-gold">Se connecter</a>
        {% endif %}
    </div>
</nav>
<div class="main">
    {% for message in app.flashes('success') %}
        <div class="flash-success">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="flash-error">{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
</div>
</body>
</html>